.whats_next_section {
    padding: 70px 100px;
}

.whats_next_section p {
    font-size: 20px;
}

/*************************/

@media(max-width: 700px) {
    .whats_next_section {
        padding: 50px 10px;
    }

    .whats_next_section p {
        width: auto;
    }
}